a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;

		
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	
	opacity:1;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
	
	img {
		-webkit-transition: all 150ms ease-out;
	    -moz-transition: all 150ms ease-out;
	    -o-transition: all 150ms ease-out;
	    transition: all 150ms ease-out;
		-webkit-backface-visibility: hidden;

	}

}

a:hover img {
	opacity:0.85;
	position:relative;
}