/*===============================
=            Helpers            =
===============================*/
.full-height {height:100%; position:relative;}
.accent-bg {background-color: $color__background-accent; }
img.landscape, .landscape img {
	max-height:100%;
	width:auto;
}
