/*===============================
=            Sidebar            =
===============================*/
.widget-area {
	padding:1rem 2rem;
}
.sidebar {
	background-color:$color__grey-box;
	border-radius:3px;
	margin: 1rem auto;
	padding:2rem;
	text-align:left;
	// position:absolute;

	ul {
		list-style-type:none;
		padding:0; margin:0;
		border-bottom: 1px solid #D0D0D0;
		padding-bottom:0.8rem;
		li {
			margin-bottom:0.7rem;
			a {
				color:$color__black;
				font-size: 0.88rem;
				line-height: 1.19rem;
			}
			// .post-date {
			// 	font-size: 0.75rem;
			// 	line-height: 1.06rem;
			// 	color:$color__black;
			// }
		}
	}

	.sidebar-request-quote {
		text-align: center;
		h5 {
			margin-top: 1rem;
		}
		button {
			width: 85%;
			margin-top: 1rem;
		}
	}
	// .post-date {
	// 	display:block;
	// }

	.categories ul {
		width: 100%; 
		text-align: center;
		border-top: 1px solid #D0D0D0;
		margin-top: 1rem;
   		padding-top: 1rem;
   		border-bottom: none;

		li {
			display: inline-block;
    		margin-right: 1rem;
    		background-color: #FF7575;
		    padding: 0.21em 1.8rem;
		    border-radius: 2rem;
			a {
		    font-size: 0.88rem;
		    color: $color__text__dark;
			}	
		}
	}

	// #text-2 {
	// 	.textwidget {text-align:center;}
	// }
}


