@import "buttons";

@import "fields";

/*=============================
=            Forms            =
=============================*/



.fe-form {
	background-color:$color__grey-box;
	height:100%;
	border-radius:3px;
	max-width: 50rem;
    margin: 1rem auto;
	padding:2rem;
	$input_color: #E6E6E6;

	.row {
		& > div {
			padding-right:1rem;
			&:last-child {
				padding-right:0;
				padding-left:1rem;
			}
			&:only-child {
				padding:0;
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position:relative;
			// @include transition(opacity 0.3s ease);
			i {
				position:absolute;
				left:0; top:0.4rem;
				z-index:20;
				font-size:1.4rem;
				width: 2.5rem; 
				text-align: center;
				color:$color__primary;
				@include transition(opacity 0.3s ease);
				@include opacity(0.5);
				&.input-focused {
					// @include transition(opacity 0.3s ease);
					@include opacity(1);
					
				}
			}

		}
	}
	
	textarea, input, button { outline: none; }
	input, textarea, label {
		
	}



	input[type="text"], input[type="tel"], input[type="email"], input[type="number"], textarea {
		border: 0;
		padding: 0.4rem 0.4rem 0.4rem 2.5rem;
		background-color:$input_color;
		margin-bottom:1rem;
		width:100%;

		&.input-focused {
			@include placeholder {
				color:$color__black__lighter;
				font-weight:600;
			}
		}
		
		@include placeholder {
		    color: #8F8E8E;
		    @include transition(color 0.3s ease);
		}
		
		font-size:0.9rem;
		font-weight:500;
	}
	label {
		font-size:0.9rem;
		font-weight:500;
	}
	
	
	.wpcf7-list-item-label {
		color:$color__black__lighter;
	}
}