html, body {
	font-size:16px;
	font-family: $font__main;
}

button,
input,
select,
textarea {
	color: $color__text-main;
	
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";