$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-accent: #F6F6F6;

$color__black: #2F2F2F;
$color__black__lighter: #444444;
$color__text__dark: #FFFFFF;

$color__primary: #40BF83;
$color__primary__hover: #18B56B;
$color__primary__focus: #03A558;

$color__accent: #FF7575;
$color__accent__hover: #F95656;
$color__accent__focus: #FE4F4F;


$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #FF7575;
$color__link-visited: #FF7575;
$color__link-hover: #FF7575;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__grey-box: #F5F5F5;
